/* 그룹생성CSS.Templete.css */


/* 구분선 */
.hrline{
    margin-top: 70px;
}

.group>label{
    display: block;
    padding-left: 20px;
    padding-top: 30px;
}

/* 게시물올리는창 */
.pop{
    position: relative;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: 976px;
    background-color: gray;
}

.gimg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 640px;
    height: 380px;
    background-color: #fff;
    border-radius: 10px;
}

/* 사진업로드버튼 */
.filebox{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 426px;
    height: 110px;
    background-color: #0090A8;
    border:none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
}
/* 파일올리기이미지 가상요소 */
.filebox::after{
    content: "";
    display: inline-block;
    width: 45px;
    height: 39px;
    background: url(./imgs/ico_upload.png) no-repeat bottom/cover;
    margin-top: 36px;
    vertical-align: -8px; 
}
            
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
}

.filebox label {
    position: relative;
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    background-color: #0090A8;
    cursor: pointer;
    border-radius: .25em;
    margin-left: 65px;
}



/* 전체그룹박스 */
.group{
    position: absolute;
    top: 60%;
}

.gname,.gintro{
    margin-left: 20px;
    width: 600px;
    height: 70px;
}

/* 그룹이름 , 그룹소개 */
.gtit{
    /* font: bold ; */
    color: #333;
    font-size: 1.5rem;
}

.send{
    position: absolute;
    right: 0;
}

.send>input{
    width: 200px;
    height: 60px;
    border: none;
    background-color: #0090A8;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 10px;
    margin-left: 10px;
}

.send>input:last-child{
    width: 150px;
    background-color: #fff;
    color: #0090A8;
}

/* 터치방지막 */
.block{
    width: 100%;
    height: 100%;
    display: none;
}
